<!DOCTYPE html>
<html>
  <head>
    <title>KMA Schedule</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="title"><%= title %></div>
        <form class="login-form" method="POST" action="/">
          <input type="text" placeholder="User Name" name="username" id="username"/>
          <input type="password" placeholder="Password" name="password" id="password"/>
          <div class="inputfield">
            <button type="submit" value="submit" name="submit" id="submit" class="btn">submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>